<h3>Groups</h3>
<table class= "table">
  <thead>
    <tr>
      <th>グループ名</th>
      <th>紹介文</th>
      <th>メンバー数</th>
      <th></th>
    </tr>
  </thead>
  <% @groups.each do |group| %>
  <tbody>
    <tr>
<!--      <td><%#= attachment_image_tag group, :image ,:fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"  %></td>-->
      <td><%=link_to group.name, group_path(group) %></td>
      <td><%= group.introduction %></td>
      <td><%= group.users.count %></td>
      <% if group.owner_id == current_user.id %>
        <td><%=link_to "Edit", edit_group_path(group) %></td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>